.item {
    font-size: 1.3rem;
    list-style-type: none;
    padding: 17px 0px 17px 0px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .checkbox {
    margin-right: 15px; 
    transform: scale(2);
  }
  
  .item button {
    font-size: 13px;
    background: rgba(209, 41, 41, 0.5);
    border: none;
    cursor: pointer;
    float: right;
    outline: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    margin: -12px 0 0 10px;
  }